:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-bg-color: #F5F4FA;
    --primary-white-color: #F5F5F5;
    --header-white-color: #FFFFFF;
    --hero-color: #2F303A;
    --button-hero-color: #188CE8;
    --header-logo-color: #000000;
    --icon-color: #AFB1B8;
}